<p>Pokemons caught: {{ pokemons.length }}</p>
<input type="text" [(ngModel)]="pokemonName" />

<button
  type="button"
  [disabled]="pokemonName === ''"
  (click)="addPokemon()"
  class="btn btn-primary"
>
  add pokemon
</button>

<ul>
  <li *ngFor="let pokemon of pokemons; let pokemonIndex = index">
    {{ pokemon }}

    <fa-icon [icon]="faXmark" (click)="deletePokemon(pokemonIndex)"></fa-icon>
  </li>
</ul>

<ngb-toast
  header="Notification de ouf"
  *ngIf="pokemonJustAdded"
  (hide)="pokemonJustAdded = false"
>
  pokemon was added
</ngb-toast>
