<p>Pokemons caught: {{ pokemons.length }}</p>
<input type="text" [(ngModel)]="pokemonName" />

<ng-container [ngSwitch]="pokemons.length">
  <p *ngSwitchCase="0">
    Aucun pokemon ajouté
  </p>
  <p *ngSwitchCase="5">
    Vous avez pile 5 pokemons
  </p>
  <p *ngSwitchDefault>
    Vous avez {{ pokemons.length }} pokemons
  </p>
</ng-container>

<button
  type="button"
  [disabled]="pokemonName === ''"
  (click)="addPokemon()"
  class="btn btn-primary"
>
  add pokemon
</button>

<button
  type="button"
  (click)="increaseColor()"
  class="btn btn-secondary"
>
  increaseColor
</button>

<ul [ngClass]="{ 'red': listIsRed }">
  <li [ngStyle]="{backgroundColor: getCurrentColor()}" *ngFor="let pokemon of pokemons; let pokemonIndex = index">
    <app-pokemon-item [pokemonName]="pokemon.name" (delete)="deletePokemon(pokemonIndex)"></app-pokemon-item>
  </li>
</ul>

<ngb-toast
  header="Notification de ouf"
  *ngIf="pokemonJustAdded"
  (hide)="pokemonJustAdded = false"
>
  pokemon was added
</ngb-toast>
