<h2>Ajouter un pokémon</h2>

<div class="needs-validation p-3">
  <div class="mb-3 row">
    <label for="pokemonTextInput" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-10">
      <input
        class="form-control"
        #pokemonTextInput
        id="pokemonTextInput"
        type="text"
        [(ngModel)]="pokemonName"
      />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="pokemonTypeSelect" class="col-sm-2 col-form-label">Type</label>
    <div class="col-sm-10">
      <select
        class="form-select"
        id="pokemonTypeSelect"
        [(ngModel)]="pokemonType"
      >
        <option selected hidden [value]="undefined">
          Sélectionner un type
        </option>
        <option
          *ngFor="let type of PokemonTypeEnum | keyvalue"
          [value]="type.key"
        >
          {{ type.value }}
        </option>
      </select>
    </div>
  </div>
  <div class="invalid-feedback">
    {{ errorMessage }}
  </div>
  <div class="col-12 mt-2">
    <button
      (click)="addPokemon()"
      type="submit"
      [disabled]="pokemonName === '' || !pokemonType"
      class="btn btn-primary"
    >
      Ajouter
    </button>
  </div>
</div>

<h2>Pokémons ({{ pokemons.length }})</h2>

<ul class="pokemon-list p-3">
  <li *ngFor="let apiPokemon of apiPokemons">
    {{ apiPokemon.name }}
    <span *ngFor="let pokemonType of apiPokemon.types">{{ pokemonType }}</span>
  </li>
</ul>

<ul class="pokemon-list p-3">
  <li *ngFor="let pokemon of pokemons; let pokemonIndex = index">
    <app-pokemon-item class="my-item" [pokemon]="pokemon"></app-pokemon-item>
  </li>
</ul>

<div class="toast-container p-3">
  <ngb-toast
    class="bg-success text-white"
    *ngIf="pokemonJustAdded"
    (hide)="pokemonJustAdded = false"
  >
    Pokémon ajouté
  </ngb-toast>
</div>
