// utilisation des couleurs bootstrap css variables
// https://getbootstrap.com/docs/5.1/customize/css-variables/

.my-item {
  --title-color: var(--bs-primary);
}

.invalid-feedback {
  display: block;
  text-align: right;
}

.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

.pokemon-list li {
  margin-top:16px;

  &:first-child {
    margin-top: 0;
  }
}
