$pokemon-type-colors: (
  GRASS: green,
  FIRE: orange,
  WATER: blue,
  POISON: purple,
);

.pokemon-background-type {
  background-color: grey;
}

@each $name, $hex in $pokemon-type-colors {
  .pokemon-background-type-#{$name} {
    background-color: $hex;
  }
}

:host {
  display: block;
  --title-color: green;
}

.card:hover {
  cursor: pointer;
  background-color: var(--bs-light);
}

.card-title {
  color: var(--title-color);
  margin-bottom: 0;
}

.close-button-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
