<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img class="logo" src="/assets/pokeball.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Mes pokémons</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid p-3">
  <app-pokemon-list></app-pokemon-list>
</main>

