/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/variables";
@import "~bootstrap-icons/font/bootstrap-icons.css";

ul {
  list-style: none;
  padding-left: 0;
}

.bg-dark-grey {
  background-color: $gray-300;
}
